{% extends 'base_account.html' %}
{% load static %}
{% block account_content %}
  <div class="banner inner-banner1 ">
    <div class="container">
      <section class="banner-detail center-xs">
        <h1 class="banner-title">Shopping Cart</h1>
        <div class="bread-crumb right-side float-none-xs">
          <ul>
            <li><a href="index.html">Home</a>/</li>
            <li><span>Shopping Cart</span></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <section class="ptb-70">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cart-item-table commun-table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart.items.all %}
                  <tr>
                    <td>
                      <a href="{{item.product.get_absolute_url}}">
                        <div class="product-image">
                          <img alt="Stylelure" src="{{ item.product.images.first.image.url }}">
                        </div>
                      </a>
                    </td>
                    <td>
                      <div class="product-title">
                   <a href="{{item.product.get_absolute_url}}">{{item.product.title|truncatechars:25}}</a>
                      </div>
                    <div class="color-btn">
                      {% if item.selected_color %}
                    <div class="btn-btn">
                      <div class="cart-main-box-color">
                        <div class="cart-red-box" style="background-color:{{item.selected_color}}"></div>
                      </div>
                    </div>
                    {%endif%}

                    {% if item.selected_size %}
                    <div class="cart-center-btn">
                      <div class="main-box">
                        <div class="box">{{item.selected_size}}</div>
                      </div>
                    </div>
                    {%endif%}
                  </div>
                    </td>
                    <td>
                      <ul>
                        <li>
                          <div class="base-price price-box">
                            <span class="price">${{ item.product.discounted_price|floatformat }}</span>
                            <span class="price main-price">${{ item.product.price|floatformat }}</span></div>
                        </li>
                      </ul>
                    </td>
                    <td>
                      <div class="input-box select-dropdown">
                        <fieldset>
                        <form method='POST' action='{% url "cart:update" %}' class="form" id="quantity-form"> 
                            {% csrf_token %}
                             <input type='hidden' name='product_id' value='{{ item.product.id }}'/>
                             <input type='hidden' name='cart_item_id' value='{{ item.id }}' />
                             <input type='hidden' name='quantity' value="" id='quantity'/>
                        
                          <select data-id="100" class="quantity_cart option-drop" name="quantity_cart">
                            {% for j in '123456789' %}
                           
                         <option value="{{forloop.counter}}" {% if item.quantity == forloop.counter %} selected{% endif %}>{{forloop.counter}}</option>

                            {% endfor %}
                            
                          </select>
                          </form>
                        </fieldset>
                      </div>
                    </td>
                    <td>

                      <div class="total-price price-box">
                        <span class="price">${{item.get_cost}}</span>
                      </div>
                    </td>
                    <td>
              {% include 'includes/delete-cart.html' %}
                   
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-30">
        <div class="row">
          <div class="col-md-6">
            <div class="mt-30">
              <a href="{% url 'Products:product_list' %}" class="btn btn-color">
                <span><i class="fa fa-angle-left"></i></span>
                Continue Shopping
              </a>
            </div>
          </div>

        </div>
      </div>
      <hr>

      <div class="mtb-30">
        <div class="row">
          <div class="col-md-6 mb-xs-40">

          </div>
          <div class="col-md-6">
            <div class="cart-total-table commun-table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Cart Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Item(s) Subtotal</td>
                      <td>
                        <div class="price-box">
                          <span class="price">${{cart.get_total_cost }}</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Tax ( 8% ) </td>
                      <td>
                        <div class="price-box">
                          <span class="price">${{tax }}</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Amount Payable</b></td>
                      <td>
                        <div class="price-box">
                          <span class="price"><b>${{cart.total }}</b></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="mt-30">
        <div class="row">
          <div class="col-12">
            <div class="right-side float-none-xs">
              <a href="{% url 'order:overview' %}" class="btn btn-color">Proceed to checkout
                <span><i class="fa fa-angle-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% block account_content_extra %}
 {% endblock account_content_extra %}
{% endblock %}
