/* Body and General Styles Start
-------------------------------------------------- */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
         url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
         url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
         url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #0f0101;
}

a {
    color: #1abc9c;
    text-decoration: none;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -ms-transition: all ease .3s;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.mt-3 {
    margin-top: 1rem !important;
}



-------------------------------------------------- */


/* header Start
-------------------------------------------------- */

#header {}

.header-top {
    background-color: #19bb9b;
    color: white;
    vertical-align: middle;
}

.h_top_list > a:hover {
    text-decoration: none;
}

.contact {
    width: auto;
    display: inline-block;
}

.contact i::before {
    font-size: 22px;
    vertical-align: middle;
}

.account i::before {
    font-size: 15px;
}

.span-text {
    font-size: 14px;
}

.account {
    width: auto;
    float: right;
    text-align: right;
    display: inline-block;
}

.navbar {
    padding-top: 11px;
    padding-bottom: 11px;
}

.navbar ul li a {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.h_top_list {
    display: inline-block;
    padding: 15px 10px;
}

.a_l:last-child {
    padding-right: 0px;
}

.c_l:first-child {
    padding-left: 0px;
}

.h_top_list a {
    font-size: 14px;
    color: inherit;
}

.account .h_top_list a:hover {
    color: #0f0101;
}

.account .a_l {
    display: inline-block;
    vertical-align: top;
}

.a_l ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.a_l ul li {
    display: inline-block;
    vertical-align: top;
    color: #fefefe;
    font-weight: 400;
}

.navbar-brand {
    height: auto;
}

.navbar-toggle {
    margin-left: 10px;
}

.icon-bar {
    background-color: #19bb9b;
    height: 3px !important;
}

.navbar-nav {
    margin-top: 14px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: white;
    color: #19bb9b;
}

.bd i {
    font-weight: 1000;
}

.bd i::before {
    font-size: 30px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.cart {
    font-weight: 500;
    font-size: 20px;
}

.cart_l {
    padding: 11px 10px;
}

.cart_l:last-child {
    padding-right: 0px;
}


/* header End
-------------------------------------------------- */


/* navbar Start
-------------------------------------------------- */

#nav {}


/* navbar End
-------------------------------------------------- */


/* content Start
-------------------------------------------------- */

#content {
    min-width: 0;
    min-height: 0;
}

.sslider .slick-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}


/*
	.slick-prev {
	    left: 0px !important;
	}
	.slick-next{
		width: auto !important;

	}

	.slick-prev:before , .slick-next:before{
	font-size: 48px !important;
  background-color:rgba(25, 187, 155,0.75);
	}
.slick-prev::before{
  content: '<' !important;
		padding: 15px 15px 20px 15px;

}
.slick-next::before{
	 content: '>' !important;
		padding: 15px 15px 20px 15px;

}*/

.sslider .slick-prev {
    z-index: 1;
    left: 0px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #1abc9c;
}

.sslider .slick-prev:before {
    content: "\f104";
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    font-family: Fontawesome;
    font-size: 70px;
    color: #fff;
}

.sslider .slick-next {
    z-index: 1;
    right: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #1abc9c;
}

.sslider .slick-next:before {
    content: "\f105";
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    font-family: Fontawesome;
    font-size: 70px;
    color: #fff;
}

.slick-slide {
    position: relative;
}

.banner_text {
    font-family: "Roboto", sans-serif;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner_text h2 {
    font-size: 3em;
    text-align: center;
}

.banner_button {
    color: inherit;
    font-size: 20px;
    padding: 5px 18px;
    position: absolute;
    left: 45%;
    margin-top: 25px;
    border: 2px solid #19bb9b;
    background-color: Transparent;
}

.banner_button:hover {
    color: #cccccc;
    text-decoration: none;
}

.b_line1 {}

.b_line2 {
    display: inline;
    font-weight: 500;
}

.b_2 {
    margin-right: -80px;
    margin-left: -32PX;
}

.th_color {
    color: #19bb9b;
}

#features {
    padding: 75px 0px;
}

.features_itmes {
    text-align: center;
    color: rgb(85, 82, 82);
}

.fi_hover i {
    display: inline-block;
    padding: 15px;
    font-size: 78px;
}

.fi_hover h3 {
    margin-top: 35px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 19px;
}

.fi_hover:hover {
    color: #19bb9b;
}

#new_collections {
    background-color: #e9effd;
    padding: 80px 0px;
}

.page-header {
    text-align: center;
    padding-bottom: 40px;
}

.about-border {
    display: block;
    width: 180px;
    height: 2px;
    background: #19bb9b;
    margin: 10px auto;
}

.page-header h1 {
    font-size: 48px;
    font-weight: bold;
}

.product_image {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.product_image img {
    width: 100%;
}

.product_caption {
    left: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    width: 100%;
    font-size: 18px;
    position: absolute;
}

.pc_1,
.pc_2 {
    position: relative;
    padding: 7px;
}

.pc_1 {
    background: black;
    width: 80%;
    float: left;
}

.pc_2 {
    float: left;
    width: 20%;
    background: #8B8B8B;
}

.cloth-up {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}

.cloth-up .cloth_tag {
    color: white;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #1abc9c;
}

.cloth-up .red {
    color: white;
    background-color: #ec6e7b;
}


/*
.product_image::after{
	  content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.product_image:hover::after{
	opacity: 1;
}
*/

.overlay-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.product_image:hover .overlay-div {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
}

.overlay-content {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 100%;
    max-width: 175px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.overlay-content .button_block {
    display: block !important;
}

.overlay-content .button_block a {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    line-height: 1.8;
    color: #fff;
    font-size: 26px;
    margin-right: 5px;
    border: solid 1px #fff;
}

.overlay-content .button_block a:last-child {
    margin-right: 0;
}

.overlay-content .button_block a:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.add_to_cart {
    color: white;
    margin: 0.5rem;
    padding: 10px 15px;
    background-color: #323232;
}

.add_to_cart i {
    margin-right: 1rem;
}

.add_to_cart:hover {
    background-color: #1abc9c;
}

.product_image:hover .product_caption .pc_1 {
    background-color: #1abc9c;
}

.product_image:hover .product_caption .pc_2 {
    background-color: #7fd9c7;
}

.overlay {
    display: none;
}

.product_image:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 35px;
}

.like i {
    border: 1px solid white;
    padding: 3px;
    font-size: 25px;
}

.add_cart {
    font-size: 20px;
    padding: 10px 15px;
    background-color: #323232;
}

#sale .text-block {
    text-align: center;
}

.text-white {
    color: white;
}

.text-block h2 {
    margin: 0px;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.form-group {
  margin-bottom: 1rem;
}
#sale,
#newsletter {
    width: 100%;
    height: 420px;
    margin-top: 30px;
    padding: 20px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}

#sale {
    background-image: url(../images/paralex.png);
}

#sale:before,
#newsletter::before,
.sslider .slider_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

#sale h2 {
    font-size: 60px;
    font-weight: 900;
}

#sale h3 {
    font-size: 36px;
    font-weight: 400;
}

.h-100 {
    height: 100%;
}

#best_seller {
    width: 100%;
    background-color: #e9effd;
    padding: 80px 0px;
}

.best_seller_slider,
.partner_slider {
    width: 100%;
}

.best_seller_slider .slick-slide {
    padding: 10px;
}

.best_seller_slider .slick-prev {
    z-index: 1;
    left: -100px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #1abc9c;
}

.best_seller_slider .slick-prev:before {
    content: "\f104";
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    font-family: Fontawesome;
    font-size: 70px;
    color: #fff;
}

.best_seller_slider .slick-next {
    z-index: 1;
    right: -94px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #1abc9c;
}

.best_seller_slider .slick-next:before {
    content: "\f105";
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    font-family: Fontawesome;
    font-size: 70px;
    color: #fff;
}

#review {
    width: 100%;
    text-align: center;
}

.review_sec {
    float: none;
    margin: auto;
}

.slider-big .client-img {
    display: table;
    margin: 0 auto;
    max-width: 224px;
}

.slider-big .client-img img {
    display: inline-block;
    vertical-align: top;
    width: 224px;
    height: 224px;
    border-radius: 50%;
}

.slider-thumb {
    margin: auto;
    max-width: 55%;
}

.slider-thumb .client-img img {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 91px;
    height: 91px;
    border-radius: 50%;
}

.slider-thumb .slick-current .client-img img,
.slider-thumb .slick-current.slick-active .client-img img {
    border: solid 4px #1abc9c;
}

.text-block p {
    font-weight: lighter;
}

.testimonial-slider .text-block {
    margin: 30px 0;
}

.testimonial-slider .text-block p {
    line-height: 1.7;
}

.testimonial-slider .slick-slide {
    outline: 0;
}

.testimonial-slider .client-name {
    display: block;
    font-size: 18px;
    color: #1abc9c;
    font-weight: bold;
}

.testimonial-slider small {
    display: block;
    margin-top: -4px;
    font-size: 14px;
    color: #515151;
}

#newsletter {
    background-image: url(../images/newsletter_bg.png);
}

.page_p {
    color: white !important;
    padding-bottom: 0px;
    position: relative;
}

.page_p .about-border {
    background: white !important;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
    background: #1abc9c;
    height: 58px;
    border-radius: 0px 10px 10px 0px;
    width: 73px;
}

#newsletter .single {
    margin: 0 auto;
    max-width: 544px;
    margin-top: 35px;
}

#newsletter .single .input-group {
    height: 58px;
}

#newsletter .single .input-group .form-control {
    height: 58px;
    border-radius: 10px 0px 0px 10px;
}

#newsletter .label {
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    position: relative;
    font-weight: 400;
}

.input-group-btn .pe-7s-next::before {
    font-size: 40px;
    color: white;
}

#latest_news {
    width: 100%;
    text-align: center;
    padding: 100px 0 70px;
}

#partner {
    width: 100%;
    background-color: #e9effd;
    padding: 40px 0px 80px 0px;
}

.partner_slider .slick-slide {
    padding: 15px;
}

.partner_slider .slick-prev {
    z-index: 1;
    left: -100px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #1abc9c;
}

.partner_slider .slick-prev:before {
    content: "\f104";
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    font-family: Fontawesome;
    font-size: 70px;
    color: #fff;
}

.partner_slider .slick-next {
    z-index: 1;
    right: -94px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #1abc9c;
}

.partner_slider .slick-next:before {
    content: "\f105";
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    font-family: Fontawesome;
    font-size: 70px;
    color: #fff;
}

.news-title {
    position: relative;
    margin: 10px 0 20px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.news-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
}

.news-thumbnail {
    margin-bottom: 30px;
}

.news-thumbnail .readmore-btn {
    color: white;
    font-weight: normal;
    padding: 13px 30px;
    font-size: 16px;
    background-color: #4ec6ab;
    border-radius: 4px;
    display: inline-block;
}

.news-thumbnail .readmore-btn:hover {
    background-color: #51545a;
}

#get-in-touch {
    background-image: url(../images/world-map.png);
    width: 100%;
    padding: 90px 0;
    margin-top: 30px
}

#get-in-touch .left-column .title {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    color: #1abc9c;
    font-weight: 300;
}

#get-in-touch .left-column .subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.contact-info {
    margin-top: 1rem;
}

.contact-info p {
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.contact-info p strong {
    font-weight: 500;
    color: #1abc9c;
}

.contact-form input {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    margin-bottom: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    background-color: transparent;
    border: solid 1px #fff;
}

.contact-form textarea {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 120px;
    padding: 15px;
    margin-bottom: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    background-color: transparent;
    border: solid 1px #fff;
    resize: none;
    overflow: auto;
}

.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
    opacity: 1;
    color: #fff;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #fff;
}

.contact-form input:focus::-moz-placeholder,
.contact-form textarea:focus::-moz-placeholder {
    opacity: 1;
    color: #1abc9c;
}

.contact-form input:focus::-webkit-input-placeholder,
.contact-form textarea:focus::-webkit-input-placeholder {
    opacity: 1;
    color: #1abc9c;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #1abc9c;
}

.contact-form input[type="submit"] {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 50px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #46bfa9;
    border-color: #46bfa9;
    cursor: pointer;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -ms-transition: all ease .3s;
}

.contact-form input[type="submit"]:hover {
    color: #46bfa9;
    background-color: #fff;
    border-color: #fff;
}

.social-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-info ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}

.social-info ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: solid 1px #fff;
}

.social-info ul li a:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}


/* content End
-------------------------------------------------- */


/* footer Start
-------------------------------------------------- */

#footer {}


/* footer End
-------------------------------------------------- */


/* xyz inner page Start
-------------------------------------------------- */


/* xyz inner page End
-------------------------------------------------- *

/* Responsive Style Start
-------------------------------------------------- */

@media (min-width: 1400px) {
    .navbar-nav {
        margin-left: 79px;
    }
}

@media (min-width: 479px) {
    .ul_cart {
        display: none;
    }
}

@media (max-width:1195px) and (min-width:769px) {
    .nav > li > a {
        padding: 14px 11px;
    }
    .banner_text h2 {
        font-size: 37px !important;
        text-align: center;
    }
}

​ @media (max-width: 1199px) {}

@media screen and (max-width: 1024px) {
    .best_seller_slider {
        padding: 0 30px;
    }
    .best_seller_slider .slick-prev {
        left: -26px;
        width: 56px;
        height: 56px;
    }
    .best_seller_slider .slick-next {
        right: -26px;
        width: 56px;
        height: 56px;
    }
    .best_seller_slider .slick-prev::before,
    .best_seller_slider .slick-next::before {
        font-size: 50px;
    }
    .slider-thumb {
        max-width: 70%;
    }
    .partner_slider .slick-prev {
        left: -10px;
        width: 50px;
        height: 50px;
    }
    .partner_slider .slick-prev:before {
        font-size: 48px;
    }
    .partner_slider .slick-next {
        right: -94px;
        width: 50px;
        height: 50px;
    }
    .partner_slider .slick-next:before {
        font-size: 48px;
    }
}


/*tablet proted mode*/

@media (max-width: 991px) {}


/*iphone landscape mode*/

@media (max-width: 767px) {}

@media (max-width: 768px) {
    .nav > li > a {
        padding: 14px 11px;
    }
    .navbar-header {
        float: none;
    }
    .banner_text h2 {
        font-size: 30px;
    }
    .b_2 {
        margin-right: -167px;
        margin-left: -7px;
    }
    .banner_button {
        font-size: 10px;
        margin-top: 15px;
    }
    @-moz-document url-prefix() {
        .banner_button {
            margin-top: 60px !important;
        }
    }

    .partner_slider .slick-prev {
        left: 0px;
     
    }
    .partner_slider .slick-next {
        right: 0px;
    }
        .best_seller_slider {
        padding: 0 50px;
    }
    .best_seller_slider .slick-prev {
        left: 0px;
        width: 45px;
        height: 45px;
    }
    .best_seller_slider .slick-next {
        right: 0px;
        width: 45px;
        height: 45px;
    }
    .best_seller_slider .slick-prev::before,
    .best_seller_slider .slick-next::before {
        font-size: 40px;
    }

    #get-in-touch .left-column .title {
    font-size: 52px;
}

}

@media only screen and (max-width: 767px) {
    .contact {
        width: 100%;
        text-align: center;
    }
    .account {
        float: none;
        text-align: center;
    }
    .navbar-toggle {
        margin-top: 20px;
    }
    .sslider .slick-next {
        width: 55px;
        height: 55px;
    }
    .sslider .slick-prev::before,
    .sslider .slick-next::before {
        top: 4px;
        font-size: 46px;
    }

    .slider-thumb {
        max-width: 80%;
    }
}


/*iphone proted mode*/

@media (max-width: 639px) {
    .banner_text h2 {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
}

@media (max-width:575px) {
    .sslider .slick-prev,
    .sslider .slick-next {
        width: 24px;
        height: 24px;
    }
    .sslider .slick-prev::before,
    .sslider .slick-next::before {
        top: 1px;
        font-size: 20px;
    }
}


/*iphone proted mode*/

@media (max-width: 479px) {
    .navbar-toggle {
        float: left;
    }
    .navbar {
        padding-bottom: 0px;
    }
    .navbar-brand {
        width: 100%;
        padding: 0% 0% 0% 15%;
    }
    .nav_list > li > a {
        padding: 5px 20px !important;
    }
    .ul_cart {
        width: auto;
        float: right;
        margin-top: 8px;
        margin-right: 30px;
    }
    .ul_cart li {
        display: inline-block;
    }
    .ul_cart > li > a {
        padding: 5px 5px;
    }
    .bd i {
        font-weight: normal;
    }
    .b_2 {
        margin-left: 0px;
    }
    .banner_text h2 {
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
    .banner_text {
        top: 38%;
    }
    .banner_button {
        left: 35%;
        font-size: 10px;
        padding: 4px 12px;
        margin-top: 10px;
    }
    .b_line1 {
        margin-bottom: 3px;
    }
    #features {
        padding: 20px 0px;
    }
    .fi_hover h3 {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .page-header h1{

        font-size: 42px;
    }

    #newsletter .label {
    font-size: 14px;
    }
    @-moz-document url-prefix() {
        .banner_button {
            margin-top: 25px !important;
        }
        .b_2 {
            margin-right: -85px;
        }
    }
}

@-moz-document url-prefix() {
    .span-text {
        vertical-align: middle;
        padding-top: 2px;
    }
    .banner_button {
        margin-top: 90px;
    }
}

@supports (-webkit-appearance:none) {
    .contact i {
        vertical-align: middle;
    }
}

@media (max-width:320px) {
    .navbar-brand {
        width: auto;
    }
}


/* Responsive Style End
-------------------------------------------------- */