{% extends 'my_account.html' %}
{% block my_account_content %}
<div class="col-lg-3">
          <div class="account-sidebar account-tab mb-sm-30">
            <div class="dark-bg tab-title-bg">
              <div class="heading-part">
                <div class="sub-title"><span></span> My Account</div>
              </div>
            </div>
            <div class="account-tab-inner">
              <ul class="account-tab-stap">
                <li id="step1" > <a href="{% url 'accounts:my_account' %}">My Dashboard<i class="fa fa-angle-right"></i> </a> </li>
                <li id="step2" class="active"> <a href="{% url 'accounts:account' %}">Account Details<i class="fa fa-angle-right"></i> </a> </li>
                <li id="step3"> <a href="javascript:void(0)">My Order List<i class="fa fa-angle-right"></i> </a> </li>
                <li id="step4" > <a href="{% url 'accounts:password_change' %}">Change Password<i class="fa fa-angle-right"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div id="data-step2" class="account-content" >
            <div class="row">
              <div class="col-12">
                <form class="main-form full">
              <div class="row">
              </div>
            </form>
                <div class="heading-part heading-bg mb-30">
                  <h2 class="heading ma-0">Account Details</h2>
                </div>
              </div>
            </div>
            <div class="m-0">
              <form  method="post" class="main-form full">
                {% csrf_token %}
                <div class="mb-20">
                  <div class="row">
                    <div class="col-12 mb-20">
                      <div class="heading-part">
                        <h3 class="sub-heading">Shipping Address</h3>
                      </div>
                      <hr>
                    </div>
                    {% include 'includes/aad_form.html' with form=form1 %}
            
                  </div>
                </div>
                 <div class="mb-20">
                  <div class="row">
                    <div class="col-12 mb-20">
                      <div class="heading-part">
                        <h3 class="sub-heading">Billing Address</h3>
                      </div>
                      <hr>
                    </div>
                    {% include 'includes/aad_form.html' with form=form1 %}
            
                  </div>
                </div>

                 <button type="submit" class="btn-left">Save</button>
              </form>
            </div>
          </div>
        </div>
          {% endblock %}