{% extends 'base_account.html' %}
{% load static %}
{% block account_content %}

  <div class="banner inner-banner1 ">
    <div class="container">
      <section class="banner-detail center-xs">
        <h1 class="banner-title">Account</h1>
        <div class="bread-crumb right-side float-none-xs">
          <ul>
            <li><a href="{% url 'index' %}">Home</a>/</li>
            <li><span>Account</span></li>
          </ul>
        </div>
      </section>
    </div>
  </div>


  <section class="checkout-section ptb-70">
    <div class="container">
      <div class="row">
        {% block my_account_content %}
        <div class="col-lg-3">
          <div class="account-sidebar account-tab mb-sm-30">
            <div class="dark-bg tab-title-bg">
              <div class="heading-part">
                <div class="sub-title"><span></span> My Account</div>
              </div>
            </div>
            <div class="account-tab-inner">
              <ul class="account-tab-stap">
                <li id="step1" class="active"> <a href="{% url 'accounts:my_account' %}">My Dashboard<i class="fa fa-angle-right"></i> </a> </li>
                <li id="step2"> <a href="{% url 'accounts:account' %}">Account Details<i class="fa fa-angle-right"></i> </a> </li>
                <li id="step3"> <a href="javascript:void(0)">My Order List<i class="fa fa-angle-right"></i> </a> </li>
                <li id="step4"> <a href="{% url 'accounts:password_change' %}">Change Password<i class="fa fa-angle-right"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          
          <div id="data-step1" class="account-content" >
            <div class="row">
              <div class="col-12">
                <div class="heading-part heading-bg mb-30">
                  <h2 class="heading ma-0">Account Dashboard</h2>
                </div>
              </div>
            </div>
      
            <div class="mb-30">
              <div class="row">
                <div class="col-12">
                  <div class="heading-part">
                    <h3 class="sub-heading">Hello {{ object.shipping_address.get_full_name }}</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet.<a class="account-link" id="subscribelink" href="#">Click Here</a></p>
                </div>
              </div>
            </div>
            <div class="m-0">
              <div class="row">
                <div class="col-12 mb-20">
                  <div class="heading-part">
                    <h3 class="sub-heading">Account Information</h3>
                  </div>
                  <hr>
                </div>
                <div class="col-md-6">
                  <div class="cart-total-table address-box commun-table">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Shipping Address</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><ul>
                                <li class="inner-heading"> <b>{{ object.shipping_address.get_full_name }}</b> </li>
                                <li>
                                   {{ object.shipping_address.get_address|slice:":30" }}
                                </li>
                                <li>
                                   {{ object.shipping_address.get_address|slice:"30:60" }}
                                </li>
                                <li>
                                   {{ object.shipping_address.get_address|slice:"60:90" }}
                                </li>
                              </ul></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="cart-total-table address-box commun-table">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Billing Address</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <ul>
                                <li class="inner-heading"> <b>{{ object.billing_address.get_full_name }}</b> </li>
                                <li>
                                {{ object.billing_address.get_address|slice:":30" }}
                             </li>
                             <li>
                                {{ object.billing_address.get_address|slice:"30:60" }}
                             </li>
                             <li>
                                {{ object.billing_address.get_address|slice:"60:90" }}
                             </li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
         {% endblock %}
      </div>
    </div>
  </section>


{% endblock %}

   <div class="col-12">
                  <div class="input-box">
                    <label for="old-pass">Old-Password</label>
                    <input type="password" placeholder="Old Password" required id="old-pass">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-box">
                    <label for="login-pass">Password</label>
                    <input type="password" placeholder="Enter your Password" required id="login-pass">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-box">
                    <label for="re-enter-pass">Re-enter Password</label>
                    <input type="password" placeholder="Re-enter your Password" required id="re-enter-pass">
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn-color btn-left" type="submit" name="submit">Change Password</button>
                </div>
