{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name = "format-detection" content = "telephone=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>:: Stylelure ::</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <!-- Custom styles-->
  <link href='{% static "css/docs.css" %}' rel="stylesheet" type="text/css">
  <link href='{% static "css/font-icon.css" %}' rel="stylesheet">
  <link rel="stylesheet" type="text/css" href='{% static "css/slick.css" %}'/>
  <link rel="stylesheet" type="text/css" href='{% static "css/font-awesome.min.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/slick-theme.css" %}'/>
  <link rel="stylesheet" type="text/css" href='{% static "css/jquery-ui.css" %}' />
  <link rel="stylesheet" href='{% static "css/fontawesome-stars-o.css" %}'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
 {% block stylesheets %} {% endblock %}
<script src='{% static "js/modernizr-2.8.0.min.js" %}'></script>

</head>

<body>
 <div id="wrapper">
    <!-- Header Start -->
  <header id="header">
       <div class="header-top">
         <div class="container">
           <div class="contact">
              <span class="h_top_list c_l"><i class="pe-7s-call"></i><span class="span-text"> +91 9913010700</span>
             </span>
             <span class="h_top_list c_l">
               <a href="mailto:info@stylelure.com"><i class="pe-7s-mail"></i><span class="span-text"> info@stylelure.com</span></a>
             </span>
           </div>
            {% if user.is_authenticated %}
           <div class="account justify-content-center">
             <span class="h_top_list a_l">
               <a href="{% url 'accounts:my_account' %}">My Account</a>
             </span>
             <span class="h_top_list a_l">
               <a href="#wishlist"> Wishlist</a>
             </span>
             <span class="h_top_list a_l">
               <a href="{% url 'cart:cart' %}"> Cart</a>
             </span>
             <span class="h_top_list a_l">
               <a href="{% url 'order:overview' %}">Checkout</a>
             </span>
             <span class="h_top_list a_l">
               <ul>
                <li class="lock"><i class="pe-7s-lock"></i></li>
                <li><a href="{% url 'accounts:Logout' %}" title="Logout">Logout</a></li>
               </ul>
             </span>
           </div>

           {% else %}
           <div class="account justify-content-center">
             <span class="h_top_list a_l">
               <ul>
                <li class="lock"><i class="pe-7s-unlock"></i></li>
                <li><a href="{% url 'accounts:login' %}" title="Login">Login</a></li>
                <li>/</li>
                <li><a href="{% url 'accounts:signup' %}" title="Register">Register</a></li>
               </ul>
             </span>
           </div>
           {% endif %}

         </div>

       </div>
     <nav class="navbar navbar-custom" id='navbar'>
       <div class="container">
         <div class="header-inner">
           <div class="row">
             <div class="col-md-3 col-xs-6">
               <div class="navbar-header"> <a class="navbar-brand page-scroll" href="{% url 'index' %}"> <img alt="Stylelure" src="{% static 'images/rsz_stylelure.png' %}"> </a> </div>
             </div>
             <div class="col-md-3 col-xs-6 right-side">
               <div class="right-side float-left-xs header-right-link">
                 <ul>
                   <li class="search-box">
                     <a><span></span></a>
                     <form class="search-form" action="{% url 'search:query' %}" method="GET">
                       <div class="search-box- header-link-dropdown">
                         <input type="search" class="form-control" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                         <button class="btn btn-color btn-outline-success mt-3" type="submit">Search</button>
                       </div>
                     </form>
                   </li>
                 <li class="cart-icon">
                    {% if user.is_authenticated %}
                   <a href="{% url "cart:cart" %}"> <span> <small class="cart-notification">{{cart.count}}</small> </span> </a>
                     <div class="cart-dropdown header-link-dropdown">
                       <ul class="cart-list link-dropdown-list">
                        {% for item in cart.items.all %}
                         <li> <a class="close-cart"><i class="fa fa-times-circle"></i></a>
                           <div class="media"> <a class="pull-left"> <img alt="Stylelure" src="{{ item.product.images.first.image.url }}"></a>
                             <div class="media-body"> <span>
                              <a href="{{item.product.get_absolute_url}}">{{item.product.title|truncatechars:25}}</a></span>
                            <p class="cart-price">₹{{ item.product.discounted_price }}</p>
                               <div class="product-qty">
                                 <label>Qty:</label>
                                 <div class="custom-qty">
                                   <input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty">
                                 </div>
                               </div>
                             </div>
                           </div>
                         </li>
                         {% endfor %}

                       </ul>
                       <p class="cart-sub-totle"> <span class="pull-left">Cart Subtotal</span> <span class="pull-right"><strong class="price-box">{{ cart.get_total_cost}}</strong></span> </p>
                       <div class="clearfix"></div>
                       <div class="mt-20"> <a href="{% url 'cart:cart' %}" class="btn-color btn">Cart</a> <a href="{% url 'order:overview' %}" class="btn-color btn right-side">Checkout</a> </div>
                     </div>
                     {% else %}
                     <a href="#"> <span> <small class="cart-notification">0</small> </span> </a>
                     {% endif %}
                   </li>
                 </ul>
               </div>
               <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fa fa-bars"></i></button>
             </div>
             <div class="col-md-6 col-sm-12 position-s left-side float-none-sm">
               <div class="">
                 <div id="menu" class="navbar-collapse collapse" >
                   <ul class="nav navbar-nav">
                     <li class="level dropdown"> <span class="opener plus"></span>
                      <a href="{% url 'Products:product_list' %}" class="page-scroll">Women</a>
                       <div class="megamenu mobile-sub-menu">
                         <div class="megamenu-inner-top">
                           <ul class="sub-menu-level1">
                             <li class="level2 "> <a href="{% url 'Products:product_list' %}"><span>Women Cloths</span></a>
                               <ul class="sub-menu-level2">
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Dresses</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Sport Jeans</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Skirts</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Tops</a></li>
                               </ul>
                             </li>
                             <li class="level2"> <a href="{% url 'Products:product_list' %}"><span>Women Fashion</span></a>
                               <ul class="sub-menu-level2 ">
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Blazer & Coat</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Sport Shoes</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Phone Cases</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Trousers</a></li>
                               </ul>
                             </li>
                             <li class="level2"> <a href="{% url 'Products:product_list' %}"><span>Juniors kid</span></a>
                               <ul class="sub-menu-level2 ">
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Sleepwear</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Jeans</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Purse</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Wallets</a></li>
                               </ul>
                             </li>
                           </ul>
                         </div>
                           <div class="megamenu-inner-bottom mt-20 visible-lg visible-md">
                             <a href="{% url 'Products:product_list' %}">
                               <img src="{% static "images/drop_banner.jpg" %}" alt="Eshoper">
                             </a>
                         </div>
                       </div>
                     </li>
                     <li class="level dropdown"> <span class="opener plus"></span> <a href="{% url 'Products:product_list' %}" class="page-scroll">Men</a>
                       <div class="megamenu full mobile-sub-menu">
                         <div class="menu-container">
                           <div class="megamenu-inner">
                             <div class="megamenu-inner-top">
                               <div class="row m-0">
                                 <div class="col-md-10 left-p p-0">
                                   <div class="row">
                                     <div class="col-md-4 level2"> <a href="{% url 'Products:product_list' %}"><span>Men Fashion</span></a>
                                       <ul class="sub-menu-level2 ">
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Blazer & Coat</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Sport Shoes</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Phone Cases</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Trousers</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Purse</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Wallets</a></li>
                                       </ul>
                                     </div>
                                     <div class="col-md-4 level2"> <a href="{% url 'Products:product_list' %}"><span>Juniors kid</span></a>
                                       <ul class="sub-menu-level2 ">
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Blazer & Coat</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Sport Shoes</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Phone Cases</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Trousers</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Purse</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Wallets</a></li>
                                       </ul>
                                     </div>
                                     <div class="col-md-4 level2"> <a href="{% url 'Products:product_list' %}"><span>Men Clothings</span></a>
                                       <ul class="sub-menu-level2 ">
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Blazer & Coat</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Chinos & Trousers</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Underwear</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Trousers</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Purse</a></li>
                                         <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Wallets</a></li>
                                       </ul>
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-md-6 visible-lg visible-md mt-30">
                                       <div class="sub-menu-img">
                                         <a href="{% url 'Products:product_list' %}">
                                           <img src="{% static "images/drop_banner1.jpg" %}" alt="Stylelure">
                                         </a>
                                       </div>
                                     </div>
                                     <div class="col-md-6 visible-lg visible-md mt-30">
                                       <div class="sub-menu-img">
                                         <a href="{% url 'Products:product_list' %}">
                                           <img src="{% static "images/drop_banner2.jpg" %}" alt="Stylelure">
                                         </a>
                                       </div>
                                     </div>
                                   </div>
                                 </div>

                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
                     </li>
                     <li class="level"><a href="{% url 'Products:product_list' %}" class="page-scroll">Juniors <div class="menu-label"><span class="hot-menu"> Hot </span></div> </a></li>
                     <li class="level dropdown"> <span class="opener plus"></span> <a href="{% url 'Products:product_list' %}" class="page-scroll">Kids</a>
                       <div class="megamenu mobile-sub-menu">
                         <div class="megamenu-inner-top">
                           <ul class="sub-menu-level1">
                             <li class="level2"> <a href="{% url 'Products:product_list' %}"><span>Kids Fashion</span></a>
                               <ul class="sub-menu-level2 ">
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Blazer & Coat</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Sport Shoes</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Phone Cases</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Trousers</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Purse</a></li>
                                 <li class="level3"><a href="{% url 'Products:product_list' %}"><span>■</span>Wallets</a></li>
                               </ul>
                             </li>
                           </ul>
                         </div>
                       </div>
                     </li>
                     <li class="level"><a href="{% url 'Products:product_list' %}" class="page-scroll">Baby <div class="menu-label"><span class="new-menu"> New </span></div></a></li>
                     <li class="level"><a href="{% url 'contact' %}" class="page-scroll">Contact</a></li>

                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      </nav>

  </header>
  {% block content %}

  {% endblock %}
<section id="get-in-touch">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
             <h1>GET IN TOUCH</h1>
             <div class="about-border"></div>
             <div class="about-border"></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="left-column">
            <div class="title">Style<span class="text-white">lure</span></div>
            <div class="subtitle text-white ">We’d love To Meet You In Person Or Via The Web!</div>
            <p class="text-white font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel nulla sapien. Class aptent tacitiaptent taciti sociosqu ad lit himenaeos. Suspendisse massa urna, luctus ut vestibulum necs et, vulputate quis urna. Donec at commodo erat.</p>
            <div class="contact-info">
              <p><strong>Main Office</strong>: Sola Rd, Thaltej, Ahmedabad, Gujarat 380059</p>
              <p><strong>Phone</strong>: <a class="text-white" href="tel:099797 76283">099797 76283</a></p>
              <p><strong>Email</strong>: <a class="text-white" href="mailto:info@yourdomain.com">info@stylelure.com</a></p>
            </div>
            <div class="social-info mt-3">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="contact-form">
            <form action="{% url 'index' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <input type="text" name="name" placeholder="Your Name">
                </div>
                <div class="col-lg-6 col-md-12">
                  <input type="email" name="email" placeholder="Your Email">
                </div>
                <div class="col-lg-6 col-md-12">
                  <input type="tel" name="tel" placeholder="Phone">
                </div>
                <div class="col-lg-6 col-md-12">
                  <input type="text" name="subject" placeholder="Subject">
                </div>
                <div class="col-md-12">
                  <textarea type="message" name="message" placeholder="Your Message..."></textarea>
                </div>
                <div class="col-md-12">
                  <input type="submit" value="SEND">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
    <!-- Footer Start -->
    <footer id="footer">

    </footer>
  </div>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script type="text/javascript" src="{% static "js/slick.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/jquery.barrating.min.js" %}"></script>
    <!-- JavaScript files -->

    <!-- Bootstrap core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom JavaScript -->
<script src="{% static "js/custom.js" %}"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.15.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.15.5/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>
</html>
