{% extends 'base_account.html' %}
{% load static %}
{% block account_content %}

<div class="banner inner-banner1 ">
  <div class="container">
    <section class="banner-detail center-xs">
      <h1 class="banner-title">Checkout</h1>
      <div class="bread-crumb right-side float-none-xs">
        <ul>
          <li><a href="index.html">Home</a>/</li>
          <li><a href="cart.html">Cart</a>/</li>
          <li><span>Checkout</span></li>
        </ul>
      </div>
    </section>
  </div>
</div>

<section class="checkout-section ptb-70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="checkout-step mb-40">
          <ul>
            <li class="active">
              <a href="checkout.html">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">1</div>
                </div>
                <span>Shipping</span>
              </a>
            </li>
            <li>
              <a href="order-overview.html">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">2</div>
                </div>
                <span>Order Overview</span>
              </a>
            </li>
            <li>
              <a href="payment.html">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">3</div>
                </div>
                <span>Payment</span>
              </a>
            </li>
            <li>
              <a href="order-complete.html">
                <div class="step">
                  <div class="line"></div>
                  <div class="circle">4</div>
                </div>
                <span>Order Complete</span>
              </a>
            </li>
            <li>
              <div class="step">
                <div class="line"></div>
              </div>
            </li>
          </ul>
          <hr>
        </div>
        <div class="checkout-content" >
          <div class="row">
            <div class="col-12">
              <div class="heading-part align-center">
                <h2 class="heading">Please fill up your Shipping details</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8">
              <form method="post"  class="main-form full" novalidate>
                {% csrf_token %}
                <div class="shipping row mb-20">
                  <div class="col-12 mb-20">
                    <div class="heading-part">
                      <h3 class="sub-heading">Shipping Address</h3>
                    </div>
                    <hr>
                  </div>
                  {% include 'includes/aad_form.html' with form=form1 %}                  
                </div>
                <div class="billing row">
                  <div class="col-12 mb-20">
                    <div class="heading-part">
                      <h3 class="sub-heading">Billing Address</h3>
                    </div>
                    <hr>
                  </div>
                  {% include 'includes/aad_form.html' with form=form2 %}
                  <div class="col-md-12">
                    <div class="check-box">
                      <span>
                        <input type="checkbox" class="checkbox" id="chk-billing-address" name="chk-billing-address">
                        <label for="chk-billing-address">Use my delivery address as my billing address</label>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type='submit'  class='btn btn-left btn-success'>Submit</button>
                    <a href="order-overview.html" class="btn btn-color right-side">Next</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
