{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Content Start -->
<section id="content">
    <div class="sslider">
        <div class="slider_item"><img src="{% static "images/slider_1.png" %}" alt="" />
            <div class="banner_text b_2">
                <h2 class="b_line1">DRESSES <span class="th_color">&amp</span> JEANS</h2>
                <h2 class="b_line2">FROM OUT FAMOUS BRAND <span class="th_color">SALE</span></h2>
                <a role="button" class="banner_button" name="button">BUY NOW</a>
            </div>
        </div>
        <div class="slider_item"><img src="{% static "images/Banner_2.png" %}" alt="" />
            <div class="banner_text b_2">
                <h2 class="b_line1">DRESSES <span class="th_color">&amp</span> JEANS</h2>
                <h2 class="b_line2">FROM OUT FAMOUS BRAND <span class="th_color">SALE</span></h2>
                <a role="button" class="banner_button" name="button">BUY NOW</a>
            </div>
        </div>
        <div class="slider_item">
            <img src="{% static "images/03.jpg" %}" alt="" />
            <div class="banner_text b_2">
                <h2 class="b_line1">DRESSES <span class="th_color">&amp</span> JEANS</h2>
                <h2 class="b_line2">FROM OUT FAMOUS BRAND <span class="th_color">SALE</span></h2>
                <a role="button" class="banner_button" name="button">BUY NOW</a>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="features_itmes col-lg-3">
            <div class="fi_hover">
                <i class="pe-7s-settings"></i>
                <h3> SETTING</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
            </p>
        </div>
        <div class="features_itmes col-lg-3 hidden-xs">
            <div class="fi_hover">
                <i class="pe-7s-safe"></i>
                <h3> MONEY BACK</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
            </p>
        </div>
        <div class="features_itmes col-lg-3 hidden-xs">
            <div class="fi_hover">
                <i class="pe-7s-global"></i>
                <h3>WORLDWIDE SHIPPING</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
            </p>
        </div>
        <div class="features_itmes col-lg-3 hidden-xs">
            <div class="fi_hover">
                <i class="pe-7s-compass"></i>
                <h3> WORLDWIDE SHIPPING</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
            </p>
        </div>

    </div>
</section>

<section id="new_collections">
    <div class="container">
        <div class="page-header">
            <h1>NEW COLLECTION</h1>
            <div class="about-border"></div>
            <div class="about-border"></div>
        </div>
        <div class="coll_items col-lg-3 col-md-6 col-sm-6">
            {% for product in featured_product|slice:"1:2" %}
            <div class="product_image">
                <img src="{{ product.images.first.image.url }}" alt="">
                <div class="product_caption">
                    <a href="{{product.get_absolute_url}}">
                    <div class="pc_1">{{product.title|truncatechars:15}}</div>
                    <div class="pc_2">₹{{ product.price|floatformat }}</div>
                    </a>
                </div>
                <div class="overlay-div text-center">
                    <div class="overlay-content">
                        <div class="button_block">
                            <a href="#"><i class="pe-7s-like"></i></a>
                            <a href="#"><i class="pe-7s-shuffle"></i></a>
                            <a href="#"><i class="pe-7s-clock"></i></a>
                        </div>
                        <div class="add_to_cart">
                            <i class="pe-7s-cart"></i> ADD TO CART
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="coll_items col-lg-3 col-md-6 col-sm-6">
            <div class="product_image">
                <img src="{% static "images/Product_2.png" %}" alt="">
                <div class="product_caption">
                    <div class="pc_1">Woman Shirt</div>
                    <div class="pc_2">31₹</div>
                </div>
                <div class="overlay-div text-center">
                    <div class="overlay-content">
                        <div class="button_block">
                            <a href="#"><i class="pe-7s-like"></i></a>
                            <a href="#"><i class="pe-7s-shuffle"></i></a>
                            <a href="#"><i class="pe-7s-clock"></i></a>
                        </div>
                        <div class="add_to_cart">
                            <i class="pe-7s-cart"></i> ADD TO CART
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="coll_items col-lg-3 col-md-6 col-sm-6">
            <div class="product_image">
                <img src="{% static "images/Product_3.png" %}" alt="">
                <div class="product_caption">
                    <div class="pc_1">Yellow Shirt</div>
                    <div class="pc_2">21₹</div>
                </div>
                <div class="overlay-div text-center">
                    <div class="overlay-content">
                        <div class="button_block">
                            <a href="#"><i class="pe-7s-like"></i></a>
                            <a href="#"><i class="pe-7s-shuffle"></i></a>
                            <a href="#"><i class="pe-7s-clock"></i></a>
                        </div>
                        <div class="add_to_cart">
                            <i class="pe-7s-cart"></i> ADD TO CART
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="coll_items col-lg-3 col-md-6 col-sm-6">
            <div class="product_image">
                <img src="{% static "images/Product_4.png" %}" alt="">
                <div class="product_caption">
                    <div class="pc_1">Cool Lingerie</div>
                    <div class="pc_2">56₹</div>
                </div>
                <div class="overlay-div text-center">
                    <div class="overlay-content">
                        <div class="button_block">
                            <a href="#"><i class="pe-7s-like"></i></a>
                            <a href="#"><i class="pe-7s-shuffle"></i></a>
                            <a href="#"><i class="pe-7s-clock"></i></a>
                        </div>
                        <div class="add_to_cart">
                            <i class="pe-7s-cart"></i> ADD TO CART
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="featured_products">
    <div class="container">
        <div class="page-header">
            <h1>FEATURED PRODUCTS</h1>
            <div class="about-border"></div>
            <div class="about-border"></div>
        </div>
        <div class="row">
            {% for product in featured_product %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product_image">
                 <a href="{{product.get_absolute_url}}" ><img src="{{ product.images.first.image.url }}" class="figure-img w-100 m-0 rounded" alt=""></a>
                    <div class="product_caption">
                        <span class="pc_1">{{product.title|truncatechars:15}}</span>
                        <span class="pc_2">₹{{ product.price|floatformat }}</span>
                    </div>
                    <div class="cloth-up">
                        <span class="cloth_tag pull-left  ">new</span>
                        <span class="cloth_tag red pull-right  ">sale</span>
                    </div>

                </div>
            </div>
            {% endfor %}
          
        </div>
    </div>
</section>
<section id="sale">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 h-100">
                <div class="table">
                    <div class="table-cell">
                        <div class="text-block">
                            <h2 class="text-white">END OF SEASON SALE</h2>
                            <h3 class="text-white">Up to 35% off Women's Denim</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="best_seller">
    <div class="container">
        <div class="page-header">
            <h1>BEST SELLER</h1>
            <div class="about-border"></div>
            <div class="about-border"></div>
        </div>
        <div class="row">
            <div class="best_seller_slider">
                <div class="coll_items col-lg-3 col-md-6 col-sm-6">
                    <div class="product_image">
                        <img src="{% static "images/Product_1.png" %}" alt="">
                        <div class="product_caption">
                            <div class="pc_1">BLUE SHIRT</div>
                            <div class="pc_2">26₹</div>
                        </div>
                        <div class="overlay-div text-center">
                            <div class="overlay-content">
                                <div class="button_block">
                                    <a href="#"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                    <a href="#"><i class="pe-7s-clock"></i></a>
                                </div>
                                <div class="add_to_cart">
                                    <i class="pe-7s-cart"></i> ADD TO CART
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coll_items col-lg-3 col-md-6 col-sm-6">
                    <div class="product_image">
                        <img src="{% static "images/Product_2.png" %}" alt="">
                        <div class="product_caption">
                            <div class="pc_1">Woman Shirt</div>
                            <div class="pc_2">31₹</div>
                        </div>
                        <div class="overlay-div text-center">
                            <div class="overlay-content">
                                <div class="button_block">
                                    <a href="#"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                    <a href="#"><i class="pe-7s-clock"></i></a>
                                </div>
                                <div class="add_to_cart">
                                    <i class="pe-7s-cart"></i> ADD TO CART
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coll_items col-lg-3 col-md-6 col-sm-6">
                    <div class="product_image">
                        <img src="{% static "images/Product_3.png" %}" alt="">
                        <div class="product_caption">
                            <div class="pc_1">Yellow Shirt</div>
                            <div class="pc_2">21₹</div>
                        </div>
                        <div class="overlay-div text-center">
                            <div class="overlay-content">
                                <div class="button_block">
                                    <a href="#"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                    <a href="#"><i class="pe-7s-clock"></i></a>
                                </div>
                                <div class="add_to_cart">
                                    <i class="pe-7s-cart"></i> ADD TO CART
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coll_items col-lg-3 col-md-6 col-sm-6">
                    <div class="product_image">
                        <img src="{% static "images/Product_4.png" %}" alt="">
                        <div class="product_caption">
                            <div class="pc_1">Cool Lingerie</div>
                            <div class="pc_2">56₹</div>
                        </div>
                        <div class="overlay-div text-center">
                            <div class="overlay-content">
                                <div class="button_block">
                                    <a href="#"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                    <a href="#"><i class="pe-7s-clock"></i></a>
                                </div>
                                <div class="add_to_cart">
                                    <i class="pe-7s-cart"></i> ADD TO CART
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coll_items col-lg-3 col-md-6 col-sm-6">
                    <div class="product_image">
                        <img src="{% static "images/Product_1.png" %}" alt="">
                        <div class="product_caption">
                            <div class="pc_1">BLUE SHIRT</div>
                            <div class="pc_2">26₹</div>
                        </div>
                        <div class="overlay-div text-center">
                            <div class="overlay-content">
                                <div class="button_block">
                                    <a href="#"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                    <a href="#"><i class="pe-7s-clock"></i></a>
                                </div>
                                <div class="add_to_cart">
                                    <i class="pe-7s-cart"></i> ADD TO CART
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coll_items col-lg-3 col-md-6 col-sm-6">
                    <div class="product_image">
                        <img src="{% static "images/Product_2.png" %}" alt="">
                        <div class="product_caption">
                            <div class="pc_1">Woman Shirt</div>
                            <div class="pc_2">31₹</div>
                        </div>
                        <div class="overlay-div text-center">
                            <div class="overlay-content">
                                <div class="button_block">
                                    <a href="#"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                    <a href="#"><i class="pe-7s-clock"></i></a>
                                </div>
                                <div class="add_to_cart">
                                    <i class="pe-7s-cart"></i> ADD TO CART
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coll_items col-lg-3 col-md-6 col-sm-6">
                    <div class="product_image">
                        <img src="{% static "images/Product_3.png" %}" alt="">
                        <div class="product_caption">
                            <div class="pc_1">Yellow Shirt</div>
                            <div class="pc_2">21₹</div>
                        </div>
                        <div class="overlay-div text-center">
                            <div class="overlay-content">
                                <div class="button_block">
                                    <a href="#"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                    <a href="#"><i class="pe-7s-clock"></i></a>
                                </div>
                                <div class="add_to_cart">
                                    <i class="pe-7s-cart"></i> ADD TO CART
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coll_items col-lg-3 col-md-6 col-sm-6">
                    <div class="product_image">
                        <img src="{% static "images/Product_4.png" %}" alt="">
                        <div class="product_caption">
                            <div class="pc_1">Cool Lingerie</div>
                            <div class="pc_2">56₹</div>
                        </div>
                        <div class="overlay-div text-center">
                            <div class="overlay-content">
                                <div class="button_block">
                                    <a href="#"><i class="pe-7s-like"></i></a>
                                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                                    <a href="#"><i class="pe-7s-clock"></i></a>
                                </div>
                                <div class="add_to_cart">
                                    <i class="pe-7s-cart"></i> ADD TO CART
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
<section id="review">
    <div class="container">
        <div class="row">
            <div class="col-md-9 review_sec">
                <div class="testimonial-slider">
                    <div class="page-header">
                        <h1>CUSTOMER REVIEW</h1>
                        <div class="about-border"></div>
                        <div class="about-border"></div>
                    </div>
                    <div class="slider-big">
                        <div class="item">
                            <div class="client-img">
                                <img src="{% static "images/Client_1.png" %}" alt="">
                            </div>
                            <div class="text-block">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,In enim justo, rhoncus.</p>
                                <span class="client-name ">- Olivia -</span>
                                <small>Melbour, Aus</small>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-img">
                                <img src="{% static "images/Client_2.png" %}" alt="">
                            </div>
                            <div class="text-block">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,In enim justo, rhoncus.</p>
                                <span class="client-name ">- Olivia -</span>
                                <small>Melbour, Eng</small>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-img">
                                <img src="{% static "images/Client_3.png" %}" alt="">
                            </div>
                            <div class="text-block">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,In enim justo, rhoncus.</p>
                                <span class="client-name ">- Olivia -</span>
                                <small>Melbour, Aus</small>
                            </div>
                        </div>
                    </div>
                    <div class="slider-thumb">
                        <div class="item">
                            <div class="client-img">
                                <img src="{% static "images/Client_1.png" %}" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-img">
                                <img src="{% static "images/Client_2.png" %}" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-img">
                                <img src="{% static "images/Client_3.png" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="newsletter">
    <div class="container">
        <div class="page-header page_p">
            <h1 class="text-white">NEWSLATTER</h1>
            <div class="about-border"></div>
            <div class="about-border"></div>
        </div>
        <div class="label">Follow a collection of news & promotions</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="single">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email here">
                        <span class="input-group-btn">
                        <button class="btn btn-default"><span class="pe-7s-next"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="partner">
    <div class="container">
        <div class="page-header">
            <h1>OUR PARTNER</h1>
            <div class="about-border"></div>
            <div class="about-border"></div>
        </div>
        <div class="row">
            <div class="partner_slider">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="{% static "images/client_01.png" %}" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="{% static "images/client_02.png" %}" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="{% static "images/client_03.png" %}" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="{% static "images/client_06.png" %}" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="{% static "images/client_01.png" %}" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="{% static "images/client_02.png" %}" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="{% static "images/client_03.png" %}" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="{% static "images/client_06.png" %}" alt="">
                </div>
            </div>

        </div>
    </div>

</section>

<section id="latest_news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>LATEST NEWS</h1>
                    <div class="about-border"></div>
                    <div class="about-border"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-thumbnail text-left">
                    <div class="news-image">
                        <img src="{% static "images/Blog_1.png" %}" alt="">
                    </div>
                    <div class="news-title">
                        Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenea
                    </div>
                    <p>Nam nec tellus a odio tincidunt auc. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare</p>
                    <a class="readmore-btn" href="#" title="READ MORE">READ MORE</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-thumbnail text-left">
                    <div class="news-image">
                        <img src="{% static "images/Blog_2.png" %}" alt="">
                    </div>
                    <div class="news-title">
                        Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenea
                    </div>
                    <p>Nam nec tellus a odio tincidunt auc. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare</p>
                    <a class="readmore-btn" href="#" title="READ MORE">READ MORE</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-thumbnail text-left">
                    <div class="news-image">
                        <img src="{% static "images/Blog_3.png" %}" alt="">
                    </div>
                    <div class="news-title">
                        Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenea
                    </div>
                    <p>Nam nec tellus a odio tincidunt auc. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare</p>
                    <a class="readmore-btn" href="#" title="READ MORE">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}
