
{% extends 'base_account.html' %}
{% block account_content %}
<div class="login-form">
    <div class="container">
        <h2>CUSTOMER LOGIN</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="customer-login">
                    <h3>Registered Customers</h3>
                    <p>if you have an account sign with your email address.</p>
                    <form method="post" novalidate>
                        {% csrf_token %}           
                        {% include 'includes/form.html' %}
                       <button type="submit" class="btn-left">SIGN IN</button> <a href="{% url 'password_reset' %}"> Forgot Your Password?</a>
                    </form>                             
                    <div class="field">* Required Fields</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="new-customers">
                    <form action="{% url 'signup' %}">
                    <h3>New Customers</h3>
                    <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
                    <button type="submit" class="btn-left">Create an Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}