{% extends 'base_product.html' %}
{% load static %}


          {% block product__list %}
          <div class="row">
             {% for product in topics %}
            <div class="col-md-4 col-6 mb-30">
             <div class="product_image">


            <img src="{{ product.images.first.image.url }}" alt='a'/>
              <div class="product_caption">
                <a href="{{product.get_absolute_url}}" >
                <div class="pc_1">{{product.title|truncatechars:15}}</div>
                <div class="pc_2">${{ product.price|floatformat }}</div>
                </a>
              </div>

              <div class="overlay-div text-center">
                <div class="overlay-content">

                  <div class="button_block">
                    
                    
                  </div>
                   <form method='POST' action='{% url "cart:add" %}' class="form" id="direct_add_cart_form"> {% csrf_token %}
          <input type='hidden' name='product_id' value='{{ product.id }}' />
          <input type='hidden' id='color' name='selected_color' value="" />
          <input type='hidden' id='size' name='selected_size' value="" />

              
      
                  <button type="submit" class=""><div class="add_to_cart"> 
                    <i class="pe-7s-cart"></i> ADD TO CART
                  </div></button>
</form>
                </div>
              </div>

            </div>

          </div>
          {% endfor %}
     
    </div>

    {% if topics.has_other_pages %}
  <nav aria-label="Topics pagination" class="mb-4">
    <ul class="pagination">
      {% if topics.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ topics.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
      {% endif %}

      {% for page_num in topics.paginator.page_range %}
        {% if topics.number == page_num %}
          <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if topics.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ topics.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
    {% endblock product__list %}
