{% extends 'base_product.html' %}
{% load static %}


          {% block product__list %}
          <div class="row">
             {% for product in products_list %}
            <div class="col-md-4 col-6 mb-30">
             <div class="product_image">


            <img src="{{ product.images.first.image.url }}" alt='a'/>
              <div class="product_caption">
                <a href="{{product.get_absolute_url}}" >
                <div class="pc_1">{{product.title|truncatechars:15}}</div>
                <div class="pc_2">${{ product.price|floatformat }}</div>
                </a>
              </div>

              <div class="overlay-div text-center">
                <div class="overlay-content">

                  <div class="button_block">
                    <a href="#"><i class="pe-7s-like"></i></a>
                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                    <a href="#"><i class="pe-7s-clock"></i></a>
                  </div>
                  <div class="add_to_cart">
                    <i class="pe-7s-cart"></i> ADD TO CART
                  </div>

                </div>
              </div>

            </div>

          </div>
          {% endfor %}
          <div class="col-md-4 col-6 mb-30">
            <div class="product-item">
              <div class="product_image">
                <img src="{% static "images/Product_1.png" %}" alt="">
                <div class="product_caption">
                  <div class="pc_1">BLUE SHIRT</div>
                  <div class="pc_2">26$</div>
                </div>
                <div class="overlay-div text-center">
                  <div class="overlay-content">
                    <div class="button_block">
                      <a href="#"><i class="pe-7s-like"></i></a>
                      <a href="#"><i class="pe-7s-shuffle"></i></a>
                      <a href="#"><i class="pe-7s-clock"></i></a>
                    </div>
                    <div class="add_to_cart">
                      <i class="pe-7s-cart"></i> ADD TO CART
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-4 col-6 mb-30">
            <div class="product-item">
              <div class="product_image">
                <img src="{% static "images/Product_3.png" %}" alt="">
                <div class="product_caption">
                  <div class="pc_1">Yellow Shirt</div>
                  <div class="pc_2">21$</div>
                </div>
                <div class="overlay-div text-center">
                  <div class="overlay-content">
                    <div class="button_block">
                      <a href="#"><i class="pe-7s-like"></i></a>
                      <a href="#"><i class="pe-7s-shuffle"></i></a>
                      <a href="#"><i class="pe-7s-clock"></i></a>
                    </div>
                    <div class="add_to_cart">
                      <i class="pe-7s-cart"></i> ADD TO CART
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6 mb-30">
            <div class="product-item">
              <div class="product_image">
                <img src="{% static "images/Product_4.png" %}" alt="">
                <div class="product_caption">
                  <div class="pc_1">Cool Lingerie</div>
                  <div class="pc_2">56$</div>
                </div>
                <div class="overlay-div text-center">
                  <div class="overlay-content">
                    <div class="button_block">
                      <a href="#"><i class="pe-7s-like"></i></a>
                      <a href="#"><i class="pe-7s-shuffle"></i></a>
                      <a href="#"><i class="pe-7s-clock"></i></a>
                    </div>
                    <div class="add_to_cart">
                      <i class="pe-7s-cart"></i> ADD TO CART
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6 mb-30">
            <div class="product-item">
              <div class="product_image">
                <img src="{% static "images/Product_4.png" %}" alt="">
                <div class="product_caption">
                  <div class="pc_1">Cool Lingerie</div>
                  <div class="pc_2">56$</div>
                </div>
                <div class="overlay-div text-center">
                  <div class="overlay-content">
                    <div class="button_block">
                      <a href="#"><i class="pe-7s-like"></i></a>
                      <a href="#"><i class="pe-7s-shuffle"></i></a>
                      <a href="#"><i class="pe-7s-clock"></i></a>
                    </div>
                    <div class="add_to_cart">
                      <i class="pe-7s-cart"></i> ADD TO CART
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6 mb-30">
           <div class="product_image">
            <img src="{% static "images/Product_2.png" %}" alt="">
            <div class="product_caption">
              <div class="pc_1">Woman Shirt</div>
              <div class="pc_2">31$</div>
            </div>
            <div class="overlay-div text-center">
              <div class="overlay-content">
                <div class="button_block">
                  <a href="#"><i class="pe-7s-like"></i></a>
                  <a href="#"><i class="pe-7s-shuffle"></i></a>
                  <a href="#"><i class="pe-7s-clock"></i></a>
                </div>
                <div class="add_to_cart">
                  <i class="pe-7s-cart"></i> ADD TO CART
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <div class="product-item">
            <div class="product_image">
              <img src="{% static "images/Product_1.png" %}" alt="">
              <div class="product_caption">
                <div class="pc_1">BLUE SHIRT</div>
                <div class="pc_2">26$</div>
              </div>
              <div class="overlay-div text-center">
                <div class="overlay-content">
                  <div class="button_block">
                    <a href="#"><i class="pe-7s-like"></i></a>
                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                    <a href="#"><i class="pe-7s-clock"></i></a>
                  </div>
                  <div class="add_to_cart">
                    <i class="pe-7s-cart"></i> ADD TO CART
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <div class="product-item">
            <div class="product_image">
              <img src="{% static "images/Product_3.png" %}" alt="">
              <div class="product_caption">
                <div class="pc_1">Yellow Shirt</div>
                <div class="pc_2">21$</div>
              </div>
              <div class="overlay-div text-center">
                <div class="overlay-content">
                  <div class="button_block">
                    <a href="#"><i class="pe-7s-like"></i></a>
                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                    <a href="#"><i class="pe-7s-clock"></i></a>
                  </div>
                  <div class="add_to_cart">
                    <i class="pe-7s-cart"></i> ADD TO CART
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <div class="product-item">
            <div class="product_image">
              <img src="{% static "images/Product_4.png" %}" alt="">
              <div class="product_caption">
                <div class="pc_1">Cool Lingerie</div>
                <div class="pc_2">56$</div>
              </div>
              <div class="overlay-div text-center">
                <div class="overlay-content">
                  <div class="button_block">
                    <a href="#"><i class="pe-7s-like"></i></a>
                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                    <a href="#"><i class="pe-7s-clock"></i></a>
                  </div>
                  <div class="add_to_cart">
                    <i class="pe-7s-cart"></i> ADD TO CART
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <div class="product-item">
            <div class="product_image">
              <img src="{% static "images/Product_4.png" %}" alt="">
              <div class="product_caption">
                <div class="pc_1">Cool Lingerie</div>
                <div class="pc_2">56$</div>
              </div>
              <div class="overlay-div text-center">
                <div class="overlay-content">
                  <div class="button_block">
                    <a href="#"><i class="pe-7s-like"></i></a>
                    <a href="#"><i class="pe-7s-shuffle"></i></a>
                    <a href="#"><i class="pe-7s-clock"></i></a>
                  </div>
                  <div class="add_to_cart">
                    <i class="pe-7s-cart"></i> ADD TO CART
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-30">
         <div class="product_image">
          <img src="{% static "images/Product_2.png" %}" alt="">
          <div class="product_caption">
            <div class="pc_1">Woman Shirt</div>
            <div class="pc_2">31$</div>
          </div>
          <div class="overlay-div text-center">
            <div class="overlay-content">
              <div class="button_block">
                <a href="#"><i class="pe-7s-like"></i></a>
                <a href="#"><i class="pe-7s-shuffle"></i></a>
                <a href="#"><i class="pe-7s-clock"></i></a>
              </div>
              <div class="add_to_cart">
                <i class="pe-7s-cart"></i> ADD TO CART
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-30">
        <div class="product-item">
          <div class="product_image">
            <img src="{% static "images/Product_1.png" %}" alt="">
            <div class="product_caption">
              <div class="pc_1">BLUE SHIRT</div>
              <div class="pc_2">26$</div>
            </div>
            <div class="overlay-div text-center">
              <div class="overlay-content">
                <div class="button_block">
                  <a href="#"><i class="pe-7s-like"></i></a>
                  <a href="#"><i class="pe-7s-shuffle"></i></a>
                  <a href="#"><i class="pe-7s-clock"></i></a>
                </div>
                <div class="add_to_cart">
                  <i class="pe-7s-cart"></i> ADD TO CART
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 col-6 mb-30">
        <div class="product-item">
          <div class="product_image">
            <img src="{% static "images/Product_3.png" %}" alt="">
            <div class="product_caption">
              <div class="pc_1">Yellow Shirt</div>
              <div class="pc_2">21$</div>
            </div>
            <div class="overlay-div text-center">
              <div class="overlay-content">
                <div class="button_block">
                  <a href="#"><i class="pe-7s-like"></i></a>
                  <a href="#"><i class="pe-7s-shuffle"></i></a>
                  <a href="#"><i class="pe-7s-clock"></i></a>
                </div>
                <div class="add_to_cart">
                  <i class="pe-7s-cart"></i> ADD TO CART
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-30">
        <div class="product-item">
          <div class="product_image">
            <img src="{% static "images/Product_4.png" %}" alt="">
            <div class="product_caption">
              <div class="pc_1">Cool Lingerie</div>
              <div class="pc_2">56$</div>
            </div>
            <div class="overlay-div text-center">
              <div class="overlay-content">
                <div class="button_block">
                  <a href="#"><i class="pe-7s-like"></i></a>
                  <a href="#"><i class="pe-7s-shuffle"></i></a>
                  <a href="#"><i class="pe-7s-clock"></i></a>
                </div>
                <div class="add_to_cart">
                  <i class="pe-7s-cart"></i> ADD TO CART
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6 mb-30">
        <div class="product-item">
          <div class="product_image">
            <img src="{% static "images/Product_4.png" %}" alt="">
            <div class="product_caption">
              <div class="pc_1">Cool Lingerie</div>
              <div class="pc_2">56$</div>
            </div>
            <div class="overlay-div text-center">
              <div class="overlay-content">
                <div class="button_block">
                  <a href="#"><i class="pe-7s-like"></i></a>
                  <a href="#"><i class="pe-7s-shuffle"></i></a>
                  <a href="#"><i class="pe-7s-clock"></i></a>
                </div>
                <div class="add_to_cart">
                  <i class="pe-7s-cart"></i> ADD TO CART
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock product__list %}
